<div class="home-container">
  <!-- Full Screen Hero Image Section -->
  <div class="hero-image">
    <img src="https://images.unsplash.com/photo-1544568100-847a948585b9?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Hero Image" />
    <div class="hero-content">
      <h1>Find Your Furry Friend Today!</h1>
      <p>Adopt a pet and give them a loving forever home.</p>
      <a routerLink="/pets" mat-raised-button color="primary" class="view-pets-button">Browse Available Pets</a>
    </div>
  </div>
</div>

