<div class="container">
  <mat-form-field appearance="fill">
    <mat-label>Search by name,species or breed</mat-label>
    <input matInput (input)="applyFilter($event)" placeholder="">
  </mat-form-field>

  <div class="header">
    <div class="actions">
      <button mat-button color="primary" (click)="onCreatePet()">Create Pet</button>
    </div>
  </div>

  <div *ngIf="isLoading" class="loading">
    Loading pets...
  </div>

  <div *ngIf="!isLoading && filteredPets.length === 0" class="no-results">
    No pets found.
  </div>

  <div class="pet-grid" *ngIf="!isLoading && filteredPets.length > 0">
    <div *ngFor="let pet of filteredPets" class="pet-card">
      <div class="image-container">
        <img [src]="pet.images?.[0]?.url || 'https://d339b5nop2tkmp.cloudfront.net/assets/listing/large_default-f37c3b2ddc539b7721ffdbd4c88987add89f2ef0fd77a71d0d44a6cf3104916e.png'"
            [alt]="pet.name || 'Default pet image'"
            class="pet-image">

      </div>
      <div class="pet-info">
        <h3>{{ pet.name }}</h3>
        <div class="status-badge" [class]="pet.status.toLowerCase()">
          {{ pet.status }}
        </div>
      </div>
      <button (click)="viewPetDetails(pet.id)"
              mat-button
              class="view-button">
        View Pet
      </button>
    </div>
  </div>
</div>